.resultField-wrapper {
    width: 93%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 13px 10px 13px;
}

.result {
    font-size: 46px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}